[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/filecoin-pay"]
	path = lib/filecoin-pay
	url = https://github.com/Filozone/filecoin-pay
